@import "../variables";

#begin-section{
  .begin-section {
    .carousel-inner{
      img {
        height: auto;
        max-height: 600px;
        position: relative;
        width: 100%;
      }
      .carousel-caption {
        position: absolute;
        top: 35%;
        h2{
          background: rgba(0, 0, 0, 0.70);
          border-radius: 1rem;
          font-size: 100px;
        }
        p{
          background: rgba(0, 0, 0, 0.70);
          font-size: 30px;
        }
      }
    }
  }
}