.container-begin{
  /*background: url('../../src/img/home-img.jpg') center fixed;
  background-size: cover;*/
  background: black;
  color: white;
  height: 100vh;
}
.companyName{
  font-size: 22px;
}