#contact{
  height: 60vh;
}

#contact .title-contact{
  text-align: center;
  padding: 100px 0 50px 0;
}

#contact label{
  margin-top: 10px;
  line-height: 10%;
  font-size: 18px;
}

#contact .form-horizontal{
  padding-top: 50px;
}

#contact .btn-success{
  background: rgb(85, 173, 203);
  border: 1px solid black;
  border-radius: 0 !important;
  color: white !important;
  transition: .5s;
  width: 80px;
}

#contact .btn-success:hover{
  background: rgba(83, 183, 214, 0.94);
  border: 1px solid white;
  color: black !important;
  transition: .5s;
}

#contact .btn-success:focus{
  background: rgba(83, 183, 214, 0.94);
  border: 1px solid black;
  transition: .5s;
}

#contact .form-control {
  background-color: transparent !important;
  border: 0 solid !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #000000 !important;
  display: block !important;
  font-size: 15px !important;
  height: 50px !important;
  padding: 5px 20px 20px 14px;
  width: 100%;
}

#contact .text-area{
  background-color: transparent !important;
  border: 0 solid !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #000000 !important;
  display: block !important;
  font-size: 15px !important;
  height: 100px !important;
  width: 100%;
  padding: 5px 20px 20px 14px;
}

#contact input:focus{
  border: 2px solid $color-main !important;
  box-shadow: 0 1px 1px rgba(85, 173, 203, 0.5) inset, 0 0 0px rgba(85, 173, 203, 0.5) !important;
}

#contact textarea:focus{
  border: 2px solid $color-main !important;
}