/***** Sección Footer *****/

/* "Footer" */

footer {
    text-align: center;
    background: #000000;
    color: #fff;
}

/* Texto lateral izquierdo */

footer .texto-footer {
    margin-top: 20px;
    font-size: 12px;
}

/* Iconos centrales */

footer .iconos {
    list-style: none;
}

/* Lista de iconos centrales */

footer .iconos li {
    display: inline-block;
    padding-top: 15px;
    padding-right: 25px;
}

/* Botón de regreso lateral derecho*/

footer .fa-arrow-circle-o-up {
    color: white;
    margin-top: 5px;
}

/* Cambiando color a los iconos */

.fa-facebook-square {
    color: white;
}

/* Cambiando color a los iconos */

.fa-instagram {
    color: white;
}
