@import "../size-area-settings";
@import "../mixin-navbar";

.openn {
  color: $secondary-color;
}

/* Navbar completo */
.navbar {
  background: $third-color !important;
  /* MENU RESPONSIVE */
  .custom-toggler{
    border-color: $secondary-color !important;
  }
  /* Navbar-brand (icono) */
  .logo {
    width: 50%;
  }
  /* Conjunto de Links del Navbar */
  .navbar-nav {
    /* Links en el navbar */
    .nav-item {
      /* Propiedades del botón Dropdown */
      .btn-drop {
        /* UNA FORMA DE HACER LA MEDIA */
        /*@media #{$tablets}{
          font-size: 11px;
        }*/
        /* OTRA FORMA DE HACER LA MEDIA */
        /* Media Query para tabletas */
        @include mixTablets{
          font-size: 11px;
        }
        @include navbar;
        padding-top: 8px;
      }
      /* Fondo para el submenu del dropdown */
      .dropdown-menu {
        background: $third-color !important;
        /* Fondo para cada elemento en el submenu */
        .dropdown-item {
          /* Media Query para tabletas */
          @include mixTablets{
            font-size: 11px;
            /* Restauramos estos valores a los predefinidos */
            padding: 8px 10px;
          }
          /* Estilos para cada enlace dentro del submenu */
          @include navbar;
          /* Efecto del subrayado */
          &:after {
            @include underLine;
          }
          /* Efecto del subrayado */
          &:hover:after{
            width: 100%;
          }
          /* Pseudo clase del link activo */
          &:active{
            @include activeLink;
            @include mixTablets {
              padding: 10px 10px !important;
            }
          }
        }
      }
      /* Estilos para cada enlace */
      .nav-link{
        /* Media Query para tabletas */
        @include mixTablets{
          font-size: 11px;
        }
        /* Estilos para cada enlace dentro del submenu */
        @include navbar;
        /* Efecto del subrayado */
        &:after{
          @include underLine;
        }
        /* Efecto del subrayado */
        &:hover:after{
          width: 100%;
        }
        &:active {
          /* Efecto al tener el Link Activo */
          @include activeLink;
          /* Media para tabletas */
          @include mixTablets {
            background: $secondary-color !important;
            font-size: 11px;
            padding: 8px 10px;
          }
        }
      }
    }
    /* Efecto para abrir el submenú del Dropdown */
    > .dropdown{
      &:hover>.dropdown-menu{
        display: block;
      }
    }
  }
}
/* Menú lateral */
.sidenav{
  background-color: $third-color;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
  a{
    color: $secondary-color;
    display: block;
    font-size: 20px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
      color: $secondary-color;
    }
  }
  .closebtn{
    color: white;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 10px;
  }
}