/* Contenedor navbar */

.navbar {
    margin-bottom: 0;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    background: black !important;
    transition: 0.5s;
}

/* Navbar-brand (icono) */

.logo {
    width: 60%;
}

/* Navbar enlaces */

.navbar ul li a {
    font-size: 12px;
    width: 100%;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
    text-align: center;
    color: white !important;
}

/* Pseudoclases en los enlaces del navbar */

/* Efecto al pasar encima del link */

.navbar ul li a:hover {
    color: white !important;
    font-weight: 700;
    text-transform: uppercase;
}

/* Clase para estilizar el "a" activo */

.active {
    background: #009C99;
}

/*****************************/