
@import "../variables";
@import "header";
@import "begin-section";
@import "../size-area-settings";
@import "contact-section";
  .principal-grid-content {
    display: grid;
    grid-template-rows:  [begin-header]$header-size[end-header begin-begin-section] $begin-section-size
       [end-begin-section begin-contact-section] $contact-section-size [end-contact-section];
    background: $third-color;
    grid-template-areas: $header-area $begin-section $contact-section;
    grid-gap: 2px;
  }






