@import "../variables";
.service {
  .jumbotron{
    background:$color-main ;
  }
  .rectangle {
    height: $basic-size *5;
    width: $basic-size *5;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: $color-main;
    border-radius:$border-radius *8;
    button{
      margin-top: auto;
      margin-bottom: auto;
      border-color: $border-color;
    }

    .btn-primary-outline {
      background-color: transparent;
      border-color: $border-color;
      border-radius:50%;
      background: $border-color;
    }
    .btn-circle {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
}