#us-section{
  padding-top: 100px;
  text-align: center;
}

#us-section .container .row .col-sm-12 h1{
  font-size: 25px;
  font-weight: 700;
  font-family: 'chango';
}

#us-section .container .row .col-sm-6{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: justify;
}

.us-side-picture{
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: auto;
}