#us-section{
  padding-bottom: 100px;
  text-align: center;

}

.title-row .title-what-we-do{
  background: rgba(230, 230, 230, 0.35);
  padding: 100px 0 100px 0;
  color: black;
}

.title-row .title-what-we-do h1{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 50px;
  transition: .5s;
}

.color-main-effect{
  text-decoration: underline $color-main;
}

.title-row .title-what-we-do p{
  font-size: 15px;
  text-align: center;
}

.container .row .our-serves-title{
  color: black;
  font-size: 25px;
  padding-top: 50px;
}

.us-row {
  padding-top: 100px;
  position: relative;
}

.us-row .col-sm-3 .us-services{
  box-shadow: 0px 0px 4px 0px #ebebeb;
  color: black;
  height: 100%;
  transition: .5s;
}

.us-row .col-sm-3 .us-services:hover{
  box-shadow: 0px 0px 5px 1px $color-main;
  transition: .5s;
  height: 100%;
}

.us-row .col-sm-3 i{
  padding: 10% 15% 15% 15%;
}

.us-row .col-sm-3 p{
  padding: 10% 0% 15% 0%;
}