<section id="begin-section">
    <div class="begin-section">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators of slides -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>
            <!-- The element of Slider -->
           <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../img/home-img.jpg" alt="Desarrollo de software">
                    <div class="carousel-caption">
                        <h2>TechnoMind</h2>
                        <p><em>"Think on it, and we'll make it"</em></p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="../../../../img/home-img2.jpg" alt="Páginas web">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>