<section id="contact-section">
    <div class="contact-section">
        <div class="container">
            <h4 class="title">Contáctanos</h4>
            <form class="contact-form row">
                <div class="form-field col-sm-12">
                    <input id="name" class="input-text js-input" type="text" required>
                    <label class="label" for="name">Nombre</label>
                </div>
                <div class="form-field col-sm-12">
                    <input id="email" class="input-text js-input" type="email" required>
                    <label class="label" for="email">E-mail</label>
                </div>
                <div class="form-field col-sm-12">
                    <input id="message" class="input-text js-input" type="text" required>
                    <label class="label" for="message">Mensaje:</label>
                </div>
                <div class="form-field align-center">
                    <input class="submit-btn" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</section>