<div class="service">
    <div class="jumbotron pt-3 pb-0">
        <h1 class="md-display-4 text-center">Nuestos Servicios</h1>
        <hr class="my-4">
        <div class="rectangle">
            <button class="btn btn-primary-outline btn-sm btn-circle" ng-mouseover="home.showServices = !home.showServices">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </button>
        </div>
        <div class="container animate-show-hide" ng-show="home.showServices" >
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
