<section id="us-section">
    <div class="container-fluid">
        <div class="row title-row">
            <div class="col-sm-12 title-what-we-do">
                <h1>¿Qué hacemos en <span class="color-main-effect">TechnoMind</span>?</h1>
                <p>En TechnoMind nos dedicamos al <strong>desarrollo tecnológico</strong> en empresas y negocios, tenemos
                    como objetivo: _____________.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 our-serves-title">
                <p>Nuestros servicios están destinados a cualquier ámbito en el que nuestros
                    clientes se desempeñen.</p>
            </div>
        </div>
        <div class="row us-row">
            <div class="col-sm-3">
                <div class="col-sm-12 us-services">
                    <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                    <h5> <b>Desarrollo de Software</b> </h5>
                    <p>En TechnoMind nos preocupamos por que nuestros clientes puedan realizar sus tareas con ayuda de la
                        tecnología.</p>
                    <button type="button" class="btn btn-info">Saber más</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 us-services">
                    <i class="fa fa-desktop fa-4x" aria-hidden="true"></i>
                    <h5><b>Consultoría de TI</b></h5>
                    <p>Asesoramiento e implementación de equipos de cómputo en el área Tecnologías de la
                        Información.</p>
                    <button type="button" class="btn btn-info">Saber más</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 us-services">
                    <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
                    <h5><b>Aplicaciones Móviles</b></h5>
                        <p>El desarrollo de aplicaciones para Smartphones es una inversión que tus clientes llevarán a
                            cualquier lugar.</p>
                    <button type="button" class="btn btn-info">Saber más</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 us-services">
                    <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
                    <h5><b>Desarrollo y diseño Web</b></h5>
                    <p>Nuestros diseños se basan en el modelo responsive, por lo que serás bien visto desde cualquier
                        dispositivo.</p>
                    <button type="button" class="btn btn-info">Saber más</button>
                </div>
            </div>
        </div>
    </div>
</section>