<section id="us-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Ingeniería de Software, Consultoría en Tecnologías de la Información, Desarrollo de Aplicaciones Móviles,
                    Páginas Web, Estrategias en Redes Sociales, Diseño Gráfico.
                </h1>
                <span>¿Quiénes somos?</span> <br>
                <span class="companyName"><strong>TechnoMind</strong></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p>Nos dedicamos al <strong>desarrollo tecnológico</strong> en las empresas y organizaciones, con el firme objetivo de que la
                <strong>tecnología</strong> esté al alcance de todos. Por ello trabajamos con personas que necesitan desde una <strong>página web</strong>
                o facturación electrónica, hasta empresas internacionales que necesitan soluciones tecnológicas para
                miles de usuarios.
                </p>
                <p>Somos amigos de la innovación y siempre estamos atentos a nuevas ideas. Sabemos que las necesidades
                    de cada empresa son diferentes, es por ello que ofrecemos servicios integrales dependiendo de los
                    requerimientos de nuestros clientes.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="centering-image">
                    <img src="../../../../img/mental-process3.jpg" alt="Nosotros somos TechnoMind" class="us-side-picture">
                </div>
            </div>
        </div>
    </div>
</section>