@import "variables";
$header-area: "header";
$begin-section: "begin";
$contact-section: "contact";
$us-section: "us";
$footer-section: "footer";
$services-section: "services";
$paralax-section: "paralax";
//$basic-size * 2;
/*
$header-size: 10vh;
$begin-section-size: 80vh;
$us-section-size: 50vh;
$services-section-size: 50vh;
$contact-section-size: 50vh;
$footer-section-size: 10vh;
$paralax-section-size: 50vh;

$header-size: $basic-size * 2.5;
$begin-section-size: $basic-size * 70;
$us-section-size: $basic-size * 40px;
$services-section-size: $basic-size * 40;
$contact-section-size: $basic-size * 30;
$footer-section-size: $basic-size * 15;
$paralax-section-size: $basic-size * 20;
*/