@import "variables";
$header-area: "header";
$begin-section: "begin";
$contact-section: "contact";
$header-size: $basic-size *4;
$begin-section-size: $basic-size;
$contact-section-size: $basic-size * 2;