@import "variables";
$header-area: "header";
$begin-section: "begin";
$contact-section: "contact";
$us-section: "us";
$footer-section: "footer";
$services-section: "services";
$paralax-section: "paralax";
$header-size: $basic-size * 2.5;
$begin-section-size: $basic-size * 70;
$us-section-size: $basic-size * 40;
$services-section-size: $basic-size * 40;
$contact-section-size: $basic-size * 30;
$footer-section-size: $basic-size * 15;
$paralax-section-size: $basic-size * 2000;

