$basic-size: 1fr;
$primary-color: #fbfbfb;
$secondary-color: #539eb8;
$third-color: #000000;

$smartphone: "(max-width: 480px)";
$tablets: "(min-width: 576px) and (max-width: 767px)";
$desktop: "(min-width: 1024px)";