<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!--<i class="flecha"><svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="192" height="51" version="1.1" viewBox="0 0 50.799997 13.493754" id="svg20" sodipodi:docname="Flecha arriba.svg" inkscape:version="0.92.1 r15371">
                    <defs id="defs24"/>
                    <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1440" inkscape:window-height="837" id="namedview22" showgrid="false" inkscape:zoom="5.6568543" inkscape:cx="103.63931" inkscape:cy="26.739261" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="g18" showguides="true" inkscape:guide-bbox="true"/>
                    <metadata id="metadata10">
                        <rdf:RDF>
                            <cc:Work rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                                <dc:title/>
                            </cc:Work>
                        </rdf:RDF>
                    </metadata>
                    <g transform="matrix(3.1876952,0,0,3.1876952,0.05682936,-933.74227)" id="g18">
                        <rect style="opacity:1;vector-effect:none;fill:#434343;fill-opacity:1;stroke:#434343;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="rect860" width="15.941358" height="0.27395833" x="-0.022906642" y="296.89508" ry="0.010147627"/>
                        <path d="m -0.0253018,296.961 c 2.9261592,-0.12019 4.0305821,-1.52493 5.5722804,-2.79816 1.4868723,-1.21795 3.0572673,-1.44379 4.7591514,0.0426 1.518665,1.38021 2.437752,2.63538 5.612321,2.75591" id="path12" inkscape:connector-curvature="0" style="fill:#434343;stroke:#539eb8;stroke-width:0.40657115;stroke-miterlimit:4;stroke-dasharray:none" sodipodi:nodetypes="cccc"/>
                        <a href="#"><path d="m 7.0808705,295.32763 0.8327356,-0.63978 0.8167238,0.62747" id="path14" inkscape:connector-curvature="0" style="fill:none;stroke:#ffffff;stroke-width:0.31441793px"/>
                            <path d="m 7.0746339,296.04635 0.8327356,-0.63978 0.8167238,0.62748" id="path16" inkscape:connector-curvature="0" style="fill:none;stroke:#ffffff;stroke-width:0.31441793px"/></a>
                    </g>
                </svg></i>-->
            </div>
            <div class="col-sm-4">
                <h6><b>Nosotros</b></h6>
                <p>Somos una empresa dedicada al desarrollo de software, aplicaciones y sitios web.</p>
            </div>
            <div class="col-sm-4">
                <ul class="categorías">
                    <li><h6><b>Categorías</b></h6></li>
                    <li>Inicio</li>
                    <li>Desarrollo de Sofware</li>
                    <li>Desarrollo Móvil</li>
                    <li>Desarrollo Escritorio</li>
                    <li>Páginas Web</li>
                    <li>Marketing Digital</li>
                    <li>Contacto</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p class="texto-footer">
                    Desarrollado por TechnoMind.
                    <br>Copyright © 2018. Todos los derechos.
                </p>
                <ul class="iconos">
                    <li>
                        <!--<a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" width="20" height="20" version="1.1" viewBox="0 0 21.166666 21.166667">
                            <metadata>
                                <rdf:RDF>
                                    <cc:Work rdf:about="">
                                        <dc:format>image/svg+xml</dc:format>
                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                                        <dc:title/>
                                    </cc:Work>
                                </rdf:RDF>
                            </metadata>
                            <g transform="translate(0 -275.83)">
                                <path d="m8.5982 296.44h4.5923v-10.128h2.6242l0.28702-3.1982h-2.9522c-0.02352-1.5998-0.15008-3.4841 0.82005-3.4442h2.4602l0.03094-3.3003-4.0902-0.0619c-3.684-0.12326-3.9703 2.816-3.8398 6.6508h-1.7365v3.3539h1.8451z" fill="#fff" stroke="#000" stroke-width=".13088"/>
                            </g>
                        </svg></a>-->
                    </li>
                    <li>
                        <!--<a href="#"><svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="22" height="20" version="1.1" viewBox="0 0 5.8208332 5.2916668" id="svg4491" sodipodi:docname="icono google plus.svg" inkscape:version="0.92.1 r15371">
                            <defs id="defs4495"/>
                            <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1440" inkscape:window-height="837" id="namedview4493" showgrid="false" inkscape:zoom="15.95" inkscape:cx="12.274937" inkscape:cy="13.340873" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="svg4491" showguides="true" inkscape:guide-bbox="true"/>
                            <metadata id="metadata4485">
                                <rdf:RDF>
                                    <cc:Work rdf:about="">
                                        <dc:format>image/svg+xml</dc:format>
                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                                        <dc:title/>
                                    </cc:Work>
                                </rdf:RDF>
                            </metadata>
                            <path d="M 3.10557,1.6730664 3.6861534,1.092484 C 3.1054588,0.58955979 1.9043318,0.15944665 0.78764266,1.0847387 -0.52073508,2.1913916 0.06195946,4.4435832 1.5787281,4.8466626 2.1159445,5.0455282 3.2116356,4.9243633 3.8275498,4.2440804 4.3204737,3.6878655 4.3978007,3.0774322 4.3095114,2.4454083 H 2.2109742 V 3.1865348 H 3.4863175 C 2.9986525,4.0590258 2.3173731,4.1102813 1.8028955,3.9831432 1.1819078,3.8296701 0.77964329,3.0394033 0.91555844,2.3744929 1.0699573,1.900975 1.3916317,1.5625568 1.9138867,1.376164 2.3569628,1.2460902 2.6899294,1.426895 3.0626037,1.6486678 Z" id="path4487" inkscape:connector-curvature="0" style="fill:#ffffff;stroke:#000000;stroke-width:0.05697698" sodipodi:nodetypes="cccccccccccccc"/>
                            <path d="M 4.9836889,2.8580118 V 3.3503366 H 5.3293518 V 2.8580118 H 5.8112049 V 2.5123488 H 5.31888 V 2.0339927 H 4.9801919 V 2.5263176 H 4.4983388 v 0.3282165 z" id="path4489" inkscape:connector-curvature="0" style="fill:#ffffff;stroke:#000000;stroke-width:0.02956101"/>
                        </svg></a>-->
                    </li>
                </ul>
                <p class="texto-footer">
                    atencion@technomind.com
                </p>
            </div>
        </div>
    </div>
</footer>