<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <svg-icon src="src/svg/footer.svg"></svg-icon>
            </div>
            <div class="col-sm-4">
                <h6><b>Nosotros</b></h6>
                <p>Somos una empresa dedicada al desarrollo de software, aplicaciones y sitios web.</p>
            </div>
            <div class="col-sm-4">
                <ul class="categorías">
                    <li><h6><b>Categorías</b></h6></li>
                    <li>Inicio</li>
                    <li>Desarrollo de Sofware</li>
                    <li>Desarrollo Móvil</li>
                    <li>Desarrollo Escritorio</li>
                    <li>Páginas Web</li>
                    <li>Marketing Digital</li>
                    <li>Contacto</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p class="texto-footer">
                    Desarrollado por TechnoMind.
                    <br>Copyright © 2018. Todos los derechos.
                </p>
                <ul class="iconos">
                    <li>
                        <svg-icon src="src/svg/facebook.svg"></svg-icon>
                        <!--<a href="#"></a>-->
                    </li>
                    <li>
                        <svg-icon src="src/svg/google.svg"></svg-icon>
                        <!--<a href="#"></a>-->
                    </li>
                </ul>
                <p class="texto-footer">
                    atencion@technomind.com
                </p>
            </div>
        </div>
    </div>
</footer>