<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <svg-icon class="flecha" src="src/svg/footer.svg"></svg-icon>
            </div>
            <div class="col-sm-3">
                <h6><b>Nosotros</b></h6>
                <p>Somos una empresa dedicada al desarrollo de software, aplicaciones y sitios web.</p>
            </div>
            <div class="col-sm-3">
                <ul class="categorías">
                    <li><h6><b>Servicios</b></h6></li>
                    <li><a href="#">Desarrollo Escritorio</a></li>
                    <li><a href="#">Desarrollo Móvil</a></li>
                    <li><a href="#">Desarrollo de Sofware</a></li>
                    <li><a href="#">Desarrollo Web</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="categorías2">
                    <li><a href="#">Marketing Digital</a></li>
                    <li><a href="#">IOT</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p class="texto-footer">
                    Desarrollado por TechnoMind.
                    <br>Copyright © 2018. Todos los derechos.
                </p>
                <ul class="iconos">
                    <li>
                        <a href="#"><svg-icon src="src/svg/facebook.svg"></svg-icon></a>
                    </li>
                    <li>
                        <a href="#"><svg-icon src="src/svg/google.svg"></svg-icon></a>
                    </li>
                </ul>
                <p class="texto-footer">
                    atencion@technomind.com
                </p>
            </div>
        </div>
    </div>
</footer>