<!--<div *ngIf="loading" class="principal-grid-content">
    <my-header></my-header>
    <begin></begin>
    <us></us>
    <parallax></parallax>
    <technologies></technologies>
    <contact></contact>
    <my-footer></my-footer>
</div>
<div *ngIf="!loading">
    <loading></loading>
</div>-->

<div class="principal-grid-content">
    <my-header></my-header>
    <begin></begin>
    <us></us>
    <parallax></parallax>
    <technologies></technologies>
    <contact></contact>
    <my-footer></my-footer>
</div>