<section id="technologies-section">
    <div class="technologies-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title">
                    <h2>Tecnologías</h2>
                    <p>En <b>TechnoMind</b> una de nuestras competencias internas es la mejora continua en el ámbito de aprender y
                        usar tecnologías de vanguardia.
                    </p>
                    <hr class="line-style">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 front-end-background degradado-lateral">
                    <h3>Front-End</h3>
                    <br><br><br>
                    <!-- HTML Icon -->
                    <svg-icon src="src/svg/html.svg"></svg-icon>
                    <!-- CSS Icon -->
                    <svg-icon src="src/svg/css.svg"></svg-icon>
                    <!-- JS Icon -->
                    <svg-icon src="src/svg/js.svg"></svg-icon>
                    <!-- ANGULAR Icon -->
                    <svg-icon src="src/svg/angular.svg"></svg-icon>
                    <!-- SASS Icon -->
                    <svg-icon src="src/svg/sass.svg"></svg-icon>
                </div>
                <div class="col-sm-12">
                    <hr class="line-style">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 back-end-background degradado-lateral">
                    <h3>Back-End</h3>
                    <br><br><br>
                    <!-- JAVA Icon -->
                    <svg-icon src="src/svg/java.svg"></svg-icon>
                    <!-- MYSQL Icon -->
                    <svg-icon src="src/svg/mysql.svg"></svg-icon>
                    <!-- ELECTRON Icon -->
                    <svg-icon src="src/svg/electron.svg"></svg-icon>
                    <!-- IONIC Icon -->
                    <svg-icon src="src/svg/ionic.svg"></svg-icon>
                    <!-- TALEND Icon -->
                    <svg-icon src="src/svg/talend.svg"></svg-icon>
                </div>
                <div class="col-sm-12">
                    <hr class="line-style">
                </div>
            </div>
        </div>
    </div>
</section>