<section id="us-section">
    <div class="us-section">
        <div class="title-row">
            <div class="col-sm-12 title-what-we-do">
                <h1>¿Qué hacemos en <span class="underline_color_main">TechnoMind</span>?</h1>
                <div class="container">
                    <p>En TechnoMind nos dedicamos al <strong>desarrollo tecnológico</strong> en empresas y negocios, tenemos
                        como objetivo la creación de sistemas que ayuden a mejorar el flujo de trabajo y comercialización
                        de tu negocio.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 our-serves-title">
                    <p>Nuestros <b>servicios</b> están destinados a cualquier ámbito en el que nuestros
                        clientes se desempeñen.</p>
                </div>
            </div>
            <div class="row us-row">
                <div class="col-sm-12 botones">
                    <button (click)="softwareButton()"><svg-icon src="src/svg/software.svg"></svg-icon></button>
                    <button (click)="consultoryButton()"><svg-icon src="src/svg/computadora.svg"></svg-icon></button>
                    <button (click)="mobileButton()"><svg-icon src="src/svg/celular.svg"></svg-icon></button>
                    <button (click)="designButton()"><svg-icon src="src/svg/dibujo.svg"></svg-icon></button>
                </div>
            </div>
            <div class="row us-services-row" *ngIf="showSelected">
                <div class="col-sm-6 texto">
                    <div class="container">
                        <br>
                        <p><b>Desarrollo de Software</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur impedit magnam, molestiae pariatur quidem reiciendis ullam! Ad doloribus dolorum exercitationem repellat. A exercitationem, explicabo neque quis sapiente velit vitae!
                    </div>
                </div>
                <div class="col-sm-6 imagen">
                    <img src="/src/img/software.jpg" alt="">
                </div>
            </div>
            <div class="row us-services-row" *ngIf="showSelected2">
                <div class="col-sm-6 texto">
                    <div class="container">
                        <br>
                        <p><b>Consultoria en Tecnologías de la Información</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur impedit magnam, molestiae pariatur quidem reiciendis ullam! Ad doloribus dolorum exercitationem repellat. A exercitationem, explicabo neque quis sapiente velit vitae!
                    </div>
                </div>
                <div class="col-sm-6 imagen">
                    <img src="/src/img/IT.jpeg" alt="">
                </div>
            </div>
            <div class="row us-services-row" *ngIf="showSelected3">
                <div class="col-sm-6 texto">
                    <div class="container">
                        <br>
                        <p><b>Desarrollo de aplicaciones móviles</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur impedit magnam, molestiae pariatur quidem reiciendis ullam! Ad doloribus dolorum exercitationem repellat. A exercitationem, explicabo neque quis sapiente velit vitae!
                    </div>
                </div>
                <div class="col-sm-6 imagen">
                    <img src="/src/img/mobile.jpg" alt="">
                </div>
            </div>
            <div class="row us-services-row" *ngIf="showSelected4">
                <div class="col-sm-6 texto">
                    <div class="container">
                        <br>
                        <p><b>Desarrollo y diseño de sitios web</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur impedit magnam, molestiae pariatur quidem reiciendis ullam! Ad doloribus dolorum exercitationem repellat. A exercitationem, explicabo neque quis sapiente velit vitae!
                    </div>
                </div>
                <div class="col-sm-6 imagen">
                    <img src="/src/img/design.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>