<section id="us-section">
    <div class="us-section">
        <div class="title-row"   [@labelIn]="inactive">
            <div class="col-sm-12 title-what-we-do">
                <h1>¿Qué hacemos en <span class="underline_color_main">TechnoMind</span>?</h1>
                <div class="container">
                    <p>En TechnoMind nos dedicamos al <strong>desarrollo tecnológico</strong> en empresas y negocios, tenemos
                        como objetivo la creación de sistemas que ayuden a mejorar el flujo de trabajo y comercialización
                        de tu negocio.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 our-serves-title">
                    <p>Nuestros <b>servicios</b> están destinados a cualquier ámbito en el que nuestros
                        clientes se desempeñen.</p>
                </div>
            </div>
            <div class="row us-row">
                <div class="col-sm-6 col-md-6 col-lg-3 adjustable-services">
                    <div class="col-sm-12 us-services">
                        <br>
                        <svg-icon src="src/svg/software.svg"></svg-icon>
                        <h5> <b>Desarrollo de Software</b> </h5>
                        <p>En TechnoMind nos preocupamos por que nuestros clientes puedan realizar sus tareas con ayuda de la
                            tecnología.</p>
                        <button type="button" class="btn btn-info btn-know-more">Saber más</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 adjustable-services">
                    <div class="col-sm-12 us-services">
                        <br>
                        <svg-icon src="src/svg/computadora.svg"></svg-icon>
                        <h5><b>Consultoría en Área TI</b></h5>
                        <p>Asesoramiento e implementación de equipos de cómputo en el área Tecnologías de la
                            Información y seguridad de redes.</p>
                        <button type="button" class="btn btn-info btn-know-more">Saber más</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 adjustable-services">
                    <div class="col-sm-12 us-services">
                        <br>
                        <svg-icon src="src/svg/celular.svg"></svg-icon>
                        <h5><b>Aplicaciones Móviles</b></h5>
                        <p>El desarrollo de aplicaciones para Smartphones es una inversión que tus clientes llevarán a
                            cualquier lugar que vayan.</p>
                        <button type="button" class="btn btn-info btn-know-more">Saber más</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 adjustable-services">
                    <div class="col-sm-12 us-services">
                        <br>
                        <svg-icon src="src/svg/dibujo.svg"></svg-icon>
                        <h5><b>Desarrollo y Diseño Web</b></h5>
                        <p>Nuestros diseños se basan en el modelo responsive, por lo que serás bien visto desde cualquier
                            dispositivo.</p>
                        <button type="button" class="btn btn-info btn-know-more">Saber más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>