<header>
    <!-- BARRA DE NAVEGACIÓN -->
    <nav class="navbar navbar-expand-sm navbar-inverse bg-inverse fixed-top ">
        <!-- Navbar brand del logo -->
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../../../img/logo-white3.svg" alt="Logo TechnoMind" class="logo"></a>
            <!-- Boton en modo responsive -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Propiedades del navbar -->
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <!-- Links del navbar -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Consultoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Desarrollo de software</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Páginas web</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Servicios nube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Marketing digital</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">IoT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>